
<!-- Admin -->
<div class=" mt-10 p-0 bg-gray-700">
	<p class="title bg-gray-700 py-5 px-5 text-xl bg-gray-800 text-white text-gray-500"> Dashboard Component</p>
	<p class="component-title py-2 px-4 text-gray-500 z-1"> Dashboard Component </p>
	<div class="flex bg-gray-600 pb-2">
		<div class=" flex-1 py-0 px-4 block w-1/3pb-5 bg-gray-500 mr-1 ml-2 mt-2 text-gray-700 leading-normal">
			<p class="py-2 px-0 text-xl"></p>
			
			  <div class="flex">
				<div class="flex-1  pb-6">
				 	<app-metric  
					 [used] ="cpu.used" 
					 [available] ="cpu.available"
					 [title] ="'CPU'"
					 [description] = "'utilization of CPU cores'">	
					 </app-metric>
				</div>
				<div class="flex-1">
				 	<app-metric  
					 [used] ="cpu.used" 
					 [available] ="cpu.available"
					 [title]="'Memory'"
					 [description] ="'utilization of memory in GB'">
						
					 </app-metric>
				 </div>
			  </div>
		</div>
		<div class="flex-1 py-0 px-4 block w-1/3pb-5 bg-gray-500 ml-1 mr-2 mt-2 text-gray-700 leading-normal">
			<p class="py-2 px-0 text-xl">Json Data</p>
			<p class="py-2 px-0 text-justify">
				{{cluster1 | json}}
			</p>
			 
		</div>
	</div>
</div>