
<div class="mt-10 p-0 bg-gray-700">
	<p class="title bg-gray-700 py-5 px-5 text-xl bg-gray-800 text-white"> Interpolation</p>
	<p class="component-title py-2 px-4">Home Component</p>
	<p class="py-2 px-4">
		<input class="bg-white rounded-sm py-2 px-4 block w-full font-light leading-normal" 
			type="text" value="{{ myVariable }}"
			[ngClass]="myDisabledValue ? 'bg-gray-200 focus:outline-none focus:shadow-outline'
					: 'focus:outline-none border-none appearance-none select-none bg-gray-700'"/>
		</p>
		<div class="mt-2 pt-1 mt-1 py-2 px-4 block w-full  leading-normal  pb-5">
			<button class="btn hover:bg-gray-500 text-white bg-gray-800 mt-10 tracking-widest text-md" 
				(click)="toggleInput()"> Click Me 
			</button>
		</div>
	
</div>
  



